* {
  box-sizing: border-box;
}

/*Hero styling*/

header {
  background-color: rgb(112, 117, 144); 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black; 
  padding: 15px;
}

/* Flexbox is a common way to style navigation bars. This makes the list items flex containers which makes it easier to style.   */
.navbar {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 35px; 
  font-weight: lighter;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Navigation bar styling. List-style:none removes the bullet points from the list.  */
nav ul {
  list-style: none;
  display: flex;
}

nav a {
  text-decoration: none;
  color: #ecf0f1; 
  margin-right: 25px; 
  font-weight: bold;
  font-size: 15px;
}

/* Enhances user experience */
nav a:hover {
  color: #3498db; 
}
.hero-banner {
  background-image: url("../images/background.jpg");
  height:400px;
}

.hero-banner h2 {
text-align: right;
font-size: 30px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
position: absolute;
bottom: 220px;
right: 100px;
  margin: 20px; /* Add margin for spacing */
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
