* {
  box-sizing: border-box;
}

/*Hero styling*/

header {
  background-color: rgb(112, 117, 144); 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black; 
  padding: 15px;
}

/* Flexbox is a common way to style navigation bars. This makes the list items flex containers which makes it easier to style.   */
.navbar {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 35px; 
  font-weight: lighter;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Navigation bar styling. List-style:none removes the bullet points from the list.  */
nav ul {
  list-style: none;
  display: flex;
}

nav a {
  text-decoration: none;
  color: #ecf0f1; 
  margin-right: 25px; 
  font-weight: bold;
  font-size: 15px;
}

/* Enhances user experience */
nav a:hover {
  color: #3498db; 
}
.hero-banner {
  background-image: url("../images/background.jpg");
  height:300px;
  margin-bottom: 50px;
}

.hero-banner h2  {
text-align: right;
font-size: 40px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
position: absolute;
bottom: 300px;
right: 100px;
margin: 20px; 
}

.aboutme {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.aboutme p {
  max-width: 600px;
  padding:20px;
}

h2 {
  text-align: center;
  font-size: 50px;
  float: left;
}
.mephoto {
  width:100px;
  height:100px;
  margin-right:20px;
  margin-left: 20px;
  border: 4px solid #acbfcc; 
  border-radius: 30px; 
  overflow: hidden; 
  float:right;
}
p{ 
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.flexbox-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
  flex-direction: row;
}


.column {
  flex: 0 0 calc(33.33% - 20px); 
  margin: 10px;
  overflow: hidden;
  display:inline-block;
  justify-content: space-evenly;
}

.column img {
  width: 100%;
  max-height: 300pxx;
  min-height: 300px;
  max-width:300px;
  min-width: 300px;
  height: auto;
  display: block;
}

.column1 {
  flex: 0 0 100%; 
  margin: 10px;
}

.column1 img {
  width: 100%;
  max-width: 100%;
  max-height: 500px;
  height: auto;
  display: block;
}  

/* Border styling */
.column img, .column1 img {

  padding: 5px; 
  border: 18px solid transparent; 
  border-image: linear-gradient(to bottom, #ddd, #888);
  border-image-slice: 1; 
  margin: 50px auto; 
  background-color: white; 
}
 .text {
  text-align: center;
  padding: 5px; 
  border: 18px solid transparent; 
  border-image: linear-gradient(to bottom, #ddd, #888);
  border-image-slice: 1; 
  margin: 50px auto; 
  background-color: white; 
 }


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
/*Styling for the contact me section */

.page-section contact, ul {
  display:inline-block;
  display:flex;
  list-style:none;
  justify-content: center;
  justify-content: space-around;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

footer {
  text-align: center;
  margin-top: 50px;
}

/*Media Queries to create a responsive site */

@media (max-width: 768px) {
  
.navbar {
  flex-direction: column;
  align-items: flex-start;
}

h1 {
  font-size: 20px;
}

nav a {
  display:none;
}

h2 {
  text-align: center;
  font-size: 50px;
  float:none;

}
/*I couldn't work out how to move the image below the <p> here so hid the image instead/ */

.mephoto {
  display:none;
}
.hero-banner h2 {
  text-align: center;
  font-size: 18px;
  position: static;
  margin-bottom: 10px;
}
.row {
  display:flex;
  justify-content: center;
  flex-direction: column;
}
.contact ul {
  display:flex;
  flex-direction: column;
}
}